/random_forest.pkl
/logistic_regression.pkl
/logistic_regression_raw.pkl
/logistic_regression_processed.pkl
/naive_bayes_raw.pkl
/naive_bayes_processed.pkl
/random_forest_raw.pkl
/random_forest_processed.pkl
/decision_tree_raw.pkl
/decision_tree_processed.pkl
/knn_raw.pkl
/knn_processed.pkl
/perceptron_raw.pkl
/perceptron_processed.pkl
/svc_raw.pkl
/svc_processed.pkl
